.login-parent {
  height: calc(100vh - 130px);

  .login-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    .main-box {
      border: 1px solid #ccc;
      background: white;
      padding: 40px 60px;
      border-radius: 8px;
      box-shadow: var(--shadow);
      text-align: center;
      gap: 20px; 
      display: flex;
      flex-direction: column;
    }
  }
}
