.header-parent {
  background: var(--black);
  .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    .logo {
      img {
        width: 60px;
      }
    }
    .menu {
      display: flex;
      gap: 20px;
      cursor: pointer;
      p {
        transition: var(--trans);
        &:hover {
          color: var(--white);
        }
      }
    }
    .toggle {
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }

  //----------------------Mobile menu start her-----------------------//
  @media only screen and (max-width: 460px) {
    .header-cont {
      .menu {
        display: none;
      }
      .toggle {
        display: block;
        font-size: 28px;
        color: var(--white);
        cursor: pointer;
      }
      .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 88px;
        background: var(--black);
        width: 100%;
        padding: 15px 10px;
        left: 0;
        height: 100%;
        z-index: 999;
        justify-content: center;
        p {
          font-size: 38px;
          border-bottom: 1px solid var(--white);
          padding-bottom: 5px;
          font-weight: 600;
          cursor: pointer;
          transition: var(--trans);
          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }
}
