.sign-up-parent {
//   height: calc(100vh - 130px);
  .sign-up-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:40px 10px;
    
    .main-box {
      border: 1px solid #ccc;
      background: white;
      padding: 40px;
      border-radius: 8px;
      box-shadow: var(--shadow);
      text-align: center;
      gap: 20px;
      display: flex;
      width: 100%;

      align-items: center;
      .left-side {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        border-right: 1px solid #ccc;
        padding: 20px;

        .main-box-sign-up {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          .google-login-input {
            border-radius: 50px;
            border: 1px solid #ccc;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            gap: 40px;
            cursor: pointer;
            justify-content: center;
            .icon {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
          .main-line {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #666;
            font-size: 14px;

            &:before,
            &:after {
              content: "";
              border: 1px solid #ccc;
              width: 100px;
              height: 1px;
            }
          }
          .email-input,
          .password-input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;

            span {
              font-size: 20px;
              display: flex;
            }

            input {
              border: none;
              outline: none;
              flex: 1;
              font-size: 14px;
            }
          }
          .btn {
            width: 100%;
            border-radius: 5px;
          }
          p {
            font-size: 14px;
            color: #666;
            a {
              text-decoration: none;
              color: var(--accent);
              transition: var(--trans);
              &:hover {
                color: black;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .right-side {
        width: 60%;

        //------------Swiper SCSS ----------------
        .mySwiper {
          width: 100%;
          height: 100%;
          border-radius: 10px;

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #444;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .swiper-pagination-progressbar {
          background: rgba(255, 255, 255, 0.3);
        }

        .swiper-pagination-progressbar-fill {
          background: var(--accent);
        }

        .mySwiper .swiper-button-prev,
        .mySwiper .swiper-button-next {
          width: 40px;
          height: 40px;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 50%;
          color: #caf4f7;


          svg{
            width: 50%;
            height: 50%;

          }
        }

       
       
      }
    }
    @media only screen and (max-width:870px){
        .main-box{
            flex-direction: column;
            .left-side, .right-side{
                width: 100%;
                border-right:none;
                border-bottom:1px solid #ccc;
                padding-bottom:20px;
            }
            .right-side{
                border-bottom:none;
                padding-top:20px;
            }
        }
    }
  }
}
